.nav-header
{
	background: #00BCD4;
	font-size: 18px;
	border-radius: 0px;
}

.nav-header a
{

	color: white;
	text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover
{
	color: #E0F7FA;
	background: none;
}

.navbar-brand
{
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.section
{
	background: #E0F7FA;
	margin-top: 16px;
}

.cn-header
{
	text-align: center;
}

.usr-frm
{
	margin: 20px;
}

.form-control
{
	width:400px;
}

.frm-disp
{
	display: inline-block;
}

.ct-text
{
	display: inline;
	vertical-align: middle;
	resize:none;
}
.lb-wid{
	width: 100px;
}

.frm-sub
{
	display: block;
}

.input-sub
{
	position: relative;
	left: 45%;
}

.btn
{
	margin-left: 5px;
}